{% extends '::base.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
    <link rel="stylesheet" href="{{ asset('/css/grid.css') }}" />
{% endblock %}

{% block body %}
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				<h1>Orders List</h1>
				<a href="{{ path('test_create_order') }}" class="btn btn-primary pull-right">
					Create a new order
				</a>
				{{ grid_search(grid) }}
    			{{ grid(grid) }}
			</div>
		</div>
	</div>
{% endblock %}