{% extends '::base.html.twig' %}

{% block body %}
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<h1>Create a new order</h1>
				{{ form(form) }}
				<a href="{{ path('test_homepage') }}" class="btn btn-primary">
					Return to the list
				</a>
			</div>
		</div>
	</div>
{% endblock %}